.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255); 
}

.f-div{
    color:black;width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;;
}
.drop-down-left{
    margin-left: 20px;
}
.header-badge{
    border-radius: 50px;
     background-color: lightgray;
}